.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh; 
}
.card-container {
  max-width: 100%; 
}
//estilo para el titulo
.title-container {
  text-align: center;
  margin-top: 30px; 
}
.app-title {
  font-size: 50px; 
  text-align: center;
  font-weight: bold;
  color: #333; 
}

#backgroundImage{
  position: fixed;
  height: 100%;
  width: 100%;
}

#list1{
  padding-top: 3%;
  background-color: transparent;
}
#list2{
  padding-top: 3%;
  background-color: transparent;
}

#row1{
  padding-top: 15%;
  padding-bottom: 15%;
}

#row3{
  padding-top: 3%;
}

#row4{
  padding-top: 3%;
}

#row5{
  padding-top: 3%;
}

#row6{
  padding-top: 3%;
}

#row7{
  padding-top: 3%;
}

#row8{
  padding-top: 3%;
}
