.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh; 
}
.card-container {
  max-width: 100%; 
}
//estilo para el titulo
.title-container {
  text-align: center;
  margin-top: 30px; 
}
.app-title {
  font-size: 50px; 
  text-align: center;
  font-weight: bold;
  color: #333; 
}