<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="nombreUsuarioBuscado" name="nombreUsuarioBuscado"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="buscarUsuario()">Buscar Usuario</ion-button>

  <div *ngIf="usuario">
    <h2>Información del Usuario:</h2>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Usuario:</strong> {{ usuario.Usuario }}</p>
    <p><strong>Usuario:</strong> {{ usuario.password }}</p>
  </div>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 50px;">
    <ion-fab-button color="secondary" [routerLink]="['/login']">
      <ion-icon  name="chevron-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <p>Desarrollado por nicolas Cares</p>
  </ion-toolbar>
</ion-footer>
