//estilo para el card y div
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh; 
}
.card-container {
    max-width: 100%; 
}
//estilo para el titulo
.title-container {
    text-align: center;
    margin-top: 30px; 
}
.app-title {
    font-size: 50px; 
    text-align: center;
    font-weight: bold;
    color: #333; 
}
.color-rojo {
    color: #FF0000;
}

.input{
    font-size: 300;
}

ion-item {
    background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subtitulo {
        color: gray;
        font-size: 0.9rem;
    }
    .titulo {
        font-size: 2rem;
    }
}

.registroLink {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;

    p {
        font-size: 0.9rem;
    }
    a {
        text-decoration: none;
    }
}

.recuperarLink {
    display: flex;
    justify-content: flex-end;
    a {
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* asegúrate de que el contenedor de la imagen de fondo esté detrás del contenido */
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* asegúrate de que la imagen cubra todo el espacio disponible */
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center; /* centra horizontalmente */
    height: 100%; /* ocupa todo el espacio disponible */
  }